Repository ggriffiths/openstorage, changes with the labels that .github/labeler.yml gives for each.
All labels: area/csi, area/ci, area/osd-cmd, area/api, area/sdk-server

Create main.yml
  .github/workflows/main.yml
Labels: area/ci

Create release-command.yml
  .github/workflows/release-command.yml
Labels: area/ci

Update alert.go
  alert/alert.go
Labels: none

Update release-command.yml
  .github/workflows/release-command.yml
Labels: area/ci

Update release-command.yml
  .github/workflows/release-command.yml
Labels: area/ci

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/ci

Update alert_kvdb.go
  alert/alert_kvdb.go
Labels: none

Update release-command.yml
  .github/workflows/release-command.yml
Labels: area/ci

Update release-command.yml
  .github/workflows/release-command.yml
Labels: area/ci

Update alert.go
  alert/alert.go
Labels: none

Update README.md
  README.md
Labels: none

🔄 Synced local './' with remote 'staging/openstorage'
  api/errors/errors.go
  api/server/sdk/cloud_backup.go
  api/server/sdk/cloud_backup_test.go
  test.txt
Labels: area/api, area/sdk-server

🔄 Synced local './' with remote 'staging/openstorage'
  csi/controller.go
Labels: area/csi

.github/labeler.yml:

area/csi:
- csi/**/*
area/ci:
- .travis
- .github/**/*
area/osd-cmd:
- osd/**/*
area/api:
- api/**/*
area/sdk-server:
- api/server/sdk/**/*
